# Welcome to the Intro to Machine Learning with TritonHack 2024!

### Importing Packages
Import statements allow us to use library and the built-in functions within the library so we can utilize them!\
First, we are going to import pacakges that are going to be very basic for the Data Science Project!

In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

First, we are going to start off with loading the data. \
You do not have to follow our structure and replace the string in read_csv() with the anticipated path.\
For now, we can use the given structure and dataset.\
\
read_csv() function will allow us to load the dataset in csv format into the format called DataFrame which is a super common form of data in Data Science.
head() function is a built in function within Dataframe which will only let you see the top portion of it.

In [4]:
data = pd.read_csv('/Users/russgang/Downloads/train_extended.csv')
data.head()

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,M,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10.0
1,1,I,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19.0
2,2,F,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11.0
3,3,I,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9.0
4,4,I,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8.0

So let's see what are some columns that we have right now.

In [5]:
data.columns

Index(['id', 'Sex', 'Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
       'Viscera Weight', 'Shell Weight', 'Age'],
      dtype='object')

Seems like column 'id' is just and index so we will not be using that

In [6]:
data = data.drop(['id'],axis=1)
data.head()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,M,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10.0
1,I,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19.0
2,F,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11.0
3,I,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9.0
4,I,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8.0

# Baseline Model

Let's start with the very basic model! We are going to be use the linear regression model from scikit-learn.\
This will be our very base model and your goal is to build a model that performs better!\

## Linear Regression

It is a very fundamental algorithm in statistic and the simplest way to explain linear regression is to find the 'line of best fit'.\
There will be different given factors(which we call them 'variables') such as length, diameter, etc. and the model will determine the age based on the given factors\
As a data scientist, one of our main jobs is to find the relevant variables out of given information.

So first, we will start by importing the pre-built model

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Since Linear Regression is technically a mathmetical equation(or prompt), we will drop column 'sex' which is a string value, not integer or simply, number.\
(However, sex might be, or probably, relavant information that we want to utilize. We will teach you how to utilize them later on).

We will save data without 'sex' in the seperate dataframe called 'data_no_sex' since we might still want to have an access to the full data.

In [8]:
data_no_sex =  data.drop(['Sex'],axis=1)
data_no_sex.head()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10.0
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19.0
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11.0
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9.0
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8.0

In [9]:
data.head()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,M,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10.0
1,I,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19.0
2,F,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11.0
3,I,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9.0
4,I,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8.0

## Linear Regression Model

What we are going to do is to split our dataset into 2 differet subset: training and test set\
What are those?\
Training set is used to literally "train" the model. The model will understand the pattern between given variables and determine the value.\
Test set is used to "test" how well our model perform. Using given function of sckit-learn, we will split them into training and test.

test_size parameter refers the the proportion(size) of the test dataset out of the whole dataset.\
random_state is setting a seed. Though train_test_split supposed to be random function, to see if you are actually making progress,\
you might want to compare ouputs under same conditions. To do so, we are setting a 'seed'(like Minecraft!).

## Independent and Dependent variable

Independent variables are what we expect will influence dependent variables. A dependent variable is what happens as a result of the independent variable.\
In machine learning project, we want to 'predict' dependent variable(or so called 'Y' of the function) using independent variable(or so called 'X').\
In our case, we want to predict the age, so age will be dependent variable(or y) and the rest will be independent variables(or X)

In [10]:
y = data_no_sex['Age']
X = data_no_sex.drop(['Age'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=21)

In [11]:
print(len(data_no_sex))
print(len(X))
print(len(y))
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

200000
200000
200000
134000
66000
134000
66000

Here, the fit() function generates the trained model with the given dataset.\
The score() function shows how "well" the model is predicting. \
0 shows the model is completely random(or not finding any correlation between independent and dependent variables)\
while 1 is saying the model found the complete relationship between independent and dependent variables.

In [12]:
model = LinearRegression().fit(X_train, y_train)
model.score(X_train, y_train)

0.5850547046920661

In [13]:
model.score(X_test, y_test)

0.5843721260834411

Model has slightly lower score on test set compared to the result of training set. Why?

This how to view coefficients(which shows that 'relationship', or how much each independet variable affects the depedent variable)\
and interncept(y-intercept in this case because we are trying to find the 'line of best fit').

In [14]:
print(model.coef_)
print(model.intercept_)

[ 0.6968879   1.92073051 10.49583148  0.24035778 -0.67270173 -0.30180624
  0.55927075]
2.4008549738556324

Now this is the time to see the actual prediction values that our model is generating.

In [15]:
prediction = model.predict(X_train)
prediction

array([ 8.22609159, 11.13267397, 10.8144085 , ...,  9.81120564,
       15.67518525, 13.82155203])

One of the most common ways to quantify the error of the model is the root mean squared error (RMSE)\
Under given predictions of the model, we calculate the difference between the prediction and the actual value(or observed value),\
square the difference, calculated the mean of the squared difference, and 'root'(square root) them.\
\
This function will allow us to calculate RMSE
(and cool thing about numpy array is that it works as a 'vector' or 'matrix' where we do not need to use any iteration but just treat them as a number)

In [16]:
def RMSE(y,pred):
    return np.sqrt(np.mean((y-pred)**2))

In [17]:
RMSE(y_train,prediction)

2.0671819979401156

### Wait...
If you look back, the predictions are decimal numbers....
But is it possible to have decimal number as your age?(Unless you want to be specific and sound like a weirdo).
Therefore, we will use round() to round the number to integer.

In [18]:
## [ ... for i in ...] is called list comprehension syntax in Python.
## https://www.w3schools.com/python/python_lists_comprehension.asp refer to this link if you want to know futher about it
prediction = np.array([round(i) for i in model.predict(X_train)])
prediction

array([ 8, 11, 11, ..., 10, 16, 14])

Now it is giving us integer values. Let's see how off we are!

In [19]:
RMSE(y_train,prediction)

2.08722839863291

How bout the accuracy on our test set?(This is what we ACTUALLY want to know)

In [20]:
prediction = np.array([round(i) for i in model.predict(X_test)])
RMSE(y_test,prediction)

2.1036872391113657

Overall, we are expecting our model to off by around 2 years to the actual age. 
Not TOO bad for the very basic approach but not satisfying. Is there any other ways to improve our model?

## One Hot Encoding

Earlier we mentioned how nominal data cannot be accounted for numerically because it is by definition, non-numerical. In order to factor in nominal data in our linear regression model, we must encode these categories, like sex, into numbers. To do this, we can use the One Hot Encoder from sklearn.

In [21]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output = False).set_output(transform='pandas')
ohetransform = ohe.fit_transform(data[['Sex']])
ohetransform

        Sex_0.025  Sex_F  Sex_I  Sex_M
0             0.0    0.0    0.0    1.0
1             0.0    0.0    1.0    0.0
2             0.0    1.0    0.0    0.0
3             0.0    0.0    1.0    0.0
4             0.0    0.0    1.0    0.0
...           ...    ...    ...    ...
199995        0.0    1.0    0.0    0.0
199996        0.0    1.0    0.0    0.0
199997        0.0    0.0    0.0    1.0
199998        0.0    0.0    1.0    0.0
199999        0.0    1.0    0.0    0.0

[200000 rows x 4 columns]

Now lets append the numerical values for sex into our dataset

In [22]:
data = pd.concat([data, ohetransform], axis = 1).drop(columns = ['Sex'])
data.head(10)

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_0.025,Sex_F,Sex_I,Sex_M
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10.0,0.0,0.0,0.0,1.0
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19.0,0.0,0.0,1.0,0.0
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11.0,0.0,1.0,0.0,0.0
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9.0,0.0,0.0,1.0,0.0
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8.0,0.0,0.0,1.0,0.0
5,1.4875,1.1875,0.4000,28.335325,12.048538,7.668540,8.504850,10.0,0.0,1.0,0.0,0.0
6,1.5250,1.1875,0.4375,31.581343,11.382324,7.980384,9.213587,14.0,0.0,0.0,0.0,1.0
7,1.6250,1.2875,0.4375,42.212406,17.704263,8.660772,11.339800,13.0,0.0,0.0,0.0,1.0
8,1.3375,1.0500,0.3875,23.090668,12.048538,4.379998,6.038443,9.0,0.0,0.0,0.0,1.0
9,1.3375,1.0125,0.3375,18.313777,8.944267,4.195726,5.953395,10.0,0.0,1.0,0.0,0.0

## Data Normalization Techniques 

Another data preprocessing technique is data normalization, which is the process of rescaling the numerical features of a dataset to a standard range. In other words, we want to "level the playing field" so that certain numerical features do not dominate others trivially.

Firstly we will show linear normalization, otherwise known as "max/min scaling"

In [28]:
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

NormData = scaler.fit_transform(data)

NormData = pd.DataFrame(NormData, columns = data.columns)
NormData

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_0.025,Sex_F,Sex_I,Sex_M
0,0.207688,0.544444,0.132743,0.389626,0.271531,0.241585,0.259387,0.321429,0.0,0.0,0.0,1.0
1,0.163183,0.444444,0.132743,0.272969,0.168807,0.144951,0.205747,0.642857,0.0,0.0,1.0,0.0
2,0.191205,0.516667,0.146018,0.352452,0.245537,0.268187,0.195019,0.357143,0.0,1.0,0.0,0.0
3,0.178018,0.455556,0.132743,0.269251,0.214845,0.156895,0.171264,0.285714,0.0,0.0,1.0,0.0
4,0.149997,0.388889,0.101770,0.186582,0.131225,0.112921,0.099234,0.250000,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.239006,0.566667,0.154867,0.525934,0.441591,0.381650,0.312644,0.357143,0.0,1.0,0.0,0.0
199996,0.130217,0.300000,0.084071,0.099310,0.082368,0.072747,0.060153,0.178571,0.0,1.0,0.0,0.0
199997,0.148349,0.405556,0.101770,0.135599,0.108049,0.075461,0.083142,0.214286,0.0,0.0,0.0,1.0
199998,0.214281,0.566667,0.146018,0.422907,0.291262,0.300760,0.282375,0.357143,0.0,0.0,1.0,0.0
199999,0.209336,0.555556,0.137168,0.428925,0.380207,0.282302,0.236398,0.357143,0.0,1.0,0.0,0.0

Linear normalization transforms each data point to a value within the range of 0 to 1. This crucial preprocessing step ensures that the magnitudes of various data categories are uniformly scaled, preventing any potential misinterpretation of their relative importance.

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()